/* .warpper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
} */

.content-table {
    border-collapse: collapse;
    text-align: center;
    /* margin: 25px 0; */
    font-size: 0.9em;
    min-width: 450px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100vw;
}

.content-table thead tr {
    background-color: #8F1B3E;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
    
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    
}

.content-table tbody tr {
    border-bottom: 1px solid #8F1B3E;
}

.content-table tbody tr:nth-of-type(even) {
    /* background-color: #f3f3f3; */
}



.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    
}